@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
}

header {
    display: flex;
    margin: 0 auto 10px auto;
    align-items: center;



    width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
}

form {
    width: 600px;

    div {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
    }

    fieldset {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
    }

}

#cargo {
    display: flex;
    flex-flow: column nowrap;
}